<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.date %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @service.mileage %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @service.comments %>
</p>


<%= link_to 'Back', car_path(id: @service.car_id) %>
