<div class="message">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <% if current_user %>
    <%= link_to 'Back', users_path %>
  <% else %>
    <%= link_to 'Back', root_path %>
  <% end %>

</div>
